%table
  - @sets.each_slice(4) do |row|
    %tr
      - row.each do |set|
        %td
          %h2= link_to set.title, gallery_path(:id => set.id)
          %div= link_to (image_tag set.thumb), gallery_path(:id => set.id)

