#carosel
  = render :partial => 'photos/index', :locals => {:photos => @set.photos, :settings => "{transitionDuration: 1000, background: 'transparent', navBackground: 'transparent', width: '100%', height: '317px'}"}
